* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.1rem;
}

.container {
  width: 90%;
  max-width: 1500px;
  margin: 0 auto;
  /* padding-top: 30px;
  padding-bottom: 30px; */
  /* background-color: lightgreen; */
}

li {
  list-style: none;
  display: inline-block;
}

a, i {
  color: white;
  text-decoration: none;
}

/*  UTILS  */
.flex {
  display: flex;
}

.align {
  align-items: center;
}

.f-wrap {
  flex-wrap: wrap;
}

.just-cont {
  justify-content: center;
}

/*  HEADER  */
header .menu-top {
  position: relative;
  height: 70px;
  color: white;
  background-color: black;
}

.menu-top ul {
  position: absolute;
  top: 5px;
  right: 0;
}

.menu-top li {
  margin: 0px 5px 0 5px;
  padding: 3px 4px;
  background-color: #4A4A4A;
  border-radius: 5px;
}

/*  MAIN  */
main {
  height: calc(100vh - 170px);
  background-color: black;
  overflow: auto;
}

.viewer{
  position: relative;
  padding: 3px;
}

.viewer-info {
  position: absolute;
  bottom: 4px;
  left: 0;
  padding: 2px 3px;
  color: white;
  background-color: rgba(31, 31, 31, 0.5);

}

/*  FOOTER  */
footer .menu-bot {
  height: 100px;
  background-color: #222222;
  color: white;
  text-align: center;
  justify-content: space-between;
}

.menu-bot > div {
  cursor: pointer;
}

.side-menu > div {
  padding: 0 10px 0 5px;
}

.menu > div {
  padding: 0 15px 0 5px;
  
}

.menu > div > i {
  font-size: 1.5rem;
}

.share-screen > i {
  color: #4BC800;
}